@charset "UTF-8";
/*公共部分*/
body {
  margin: 0;
  padding: 0;
  Font-family: 'PingFangSC','Microsoft YaHei', '微软雅黑','helvetica neue', Helvetica,Tahoma, Arial, STXihei, “华文细黑”, SimSun, “宋体”, Heiti, “黑体”, sans-serif;
  font-size: 14px;
  width: 100%;
  background: #fff; }

input, select {
  vertical-align: middle; }

img {
  margin: 0;
  padding: 0;
  border: none;
  vertical-align: middle; }

a {
  text-decoration: none; }

a:hover, a:focus {
  text-decoration: none; }

ul, li, ol, p, h1, h2, h3, h4, div {
  list-style: none;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-size: 100%; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  ime-mode: disabled;
  vertical-align: middle;
  outline-style: none; }

input {
  border-radius: 0;
  /*-webkit-appearance:none;*/
  /*去除input默认样式*/ }

em {
  font-style: normal; }

table {
  border-collapse: collapse; }

i, s, em {
  text-decoration: none;
  font-style: normal; }

a {
  color: #333; }

a:hover, a:focus {
  color: #333; }

/*京东清楚浮动的方法*/
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1;
  /*IE7/6*/ }

/*清楚层公共*/
.layout:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden; }

.layout {
  zoom: 1; }

/*top*/
.wrapbox {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999; }

.fxd {
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  left: 0;
  top: 0; }

.wrapbox1 {
  width: 100%;
  position: relative; }

.box1 {
  width: 1200px;
  margin: 0 auto;
  position: relative; }

.box2 {
  width: 1200px;
  margin: 0 auto; }

.topBar {
  width: 100%;
  height: 40px;
  background: #f5f5f5;
  line-height: 40px; }

.welcomeTxt {
  width: 40%;
  color: #333;
  font-size: 14px;
  line-height: 40px; }

.loginBar {
  overflow: hidden;
  text-align: right;
  color: #333; }

.loginBar a {
  display: inline-block;
  line-height: 40px;
  font-size: 14px;
  color: #333;
  padding: 0 8px; }

.logoLeft {
  float: left;
  width: 20%;
  margin-right: 3%;
  height: 72px;
  margin-top: 25px; }

.logoLeft a {
  display: block;
  width: 100%;
  height: 100%; }

.navBar {
  text-align: right;
  float: right;
  margin-top: 15px;
  width: 76%; }

.searchBox {
  width: 100%;
  text-align: right; }

.searchBox .login {
  display: inline-block;
  color: #fff; }

.searchBox .login a {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  color: #fff;
  padding: 0 5px;
  position: relative; }

.searchBox .inpBox {
  display: inline-block;
  border-bottom: 1px solid #fff; }

.searchBox .inpBox .hs_inp {
  background: none;
  border: none;
  line-height: 35px;
  height: 35px;
  width: 190px;
  font-size: 16px;
  vertical-align: middle;
  color: #fff;
  padding-left: 8px;
  box-sizing: border-box; }

.searchBox .inpBox .hs_inp::-webkit-input-placeholder {
  color: #fff; }

.searchBox .inpBox .hs_btn {
  display: inline-block;
  background: url(../images/searchBtn.png) center center no-repeat;
  width: 30px;
  height: 35px;
  line-height: 35px;
  border: none;
  box-sizing: border-box;
  vertical-align: middle; }

/*nav*/
.navBox {
  margin-top: 15px;
  float: right;
  position: relative; }

#nav {
  position: relative; }

#nav h1 {
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 50px;
  font-weight: normal;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box; }

#nav .active a h1 {
  color: #fff;
  box-sizing: border-box;
  font-size: 16px; }

#nav .mainlevel {
  float: left;
  /*IE6 only*/
  position: relative; }

#nav .mainlevel a {
  text-decoration: none;
  line-height: 40px;
  display: block;
  padding: 0 25px;
  font-size: 14px;
  color: #fff; }

#nav .mainlevel a h1 {
  font-size: 16px; }

#nav .mainlevel a:hover h1 {
  color: #fff;
  transform: rotate(360deg);
  border-bottom: 2px solid #ED4040; }

#nav .mainlevel ul li a {
  width: 160px;
  padding: 0; }

#nav .mainlevel ul li a:hover {
  display: block;
  text-decoration: none;
  color: #fff; }

#nav .mainlevel ul {
  display: none;
  position: absolute;
  z-index: 2000;
  left: 25px;
  top: 42px; }

#nav .mainlevel li {
  display: block;
  text-align: left;
  line-height: 40px;
  height: 40px;
  width: 100%;
  z-index: 2000;
  /*IE6 only*/ }

/*navheader2*/
.fxd .topBar {
  width: 100%;
  height: 40px;
  background: #f5f5f5;
  line-height: 40px; }

.fxd .welcomeTxt {
  width: 40%;
  color: #333;
  font-size: 14px;
  line-height: 40px; }

.fxd .loginBar {
  overflow: hidden;
  text-align: right;
  color: #333; }

.fxd .loginBar a {
  display: inline-block;
  line-height: 40px;
  font-size: 14px;
  color: #333;
  padding: 0 8px; }

.fxd .logoLeft {
  float: left;
  width: 20%;
  margin-right: 3%;
  height: 72px;
  margin-top: 25px; }

.fxd .logoLeft a {
  display: block;
  width: 100%;
  height: 100%;
  background: url(../images/logo2.png) no-repeat; }

.fxd .navBar {
  text-align: right;
  float: right;
  margin-top: 15px;
  width: 76%; }

.fxd .searchBox {
  width: 100%;
  text-align: right; }

.fxd .searchBox .login {
  display: inline-block;
  color: #333; }

.fxd .searchBox .login a {
  display: inline-block;
  height: 35px;
  line-height: 35px;
  font-size: 16px;
  color: #333;
  padding: 0 5px; }

.fxd .searchBox .inpBox {
  display: inline-block;
  border-bottom: 1px solid #333; }

.fxd .searchBox .inpBox .hs_inp {
  background: none;
  border: none;
  line-height: 35px;
  height: 35px;
  width: 190px;
  font-size: 16px;
  vertical-align: middle;
  color: #333;
  padding-left: 8px;
  box-sizing: border-box; }

.fxd .searchBox .inpBox .hs_inp::-webkit-input-placeholder {
  color: #333; }

.fxd .searchBox .inpBox .hs_btn {
  display: inline-block;
  background: url(../images/searchBtn1.png) center center no-repeat;
  width: 30px;
  height: 35px;
  line-height: 35px;
  border: none;
  box-sizing: border-box;
  vertical-align: middle; }

/*nav*/
.fxd .navBox {
  margin-top: 15px;
  float: right;
  position: relative; }

.fxd #nav {
  position: relative; }

.fxd #nav h1 {
  color: #333;
  font-size: 16px;
  text-align: center;
  line-height: 50px;
  font-weight: normal;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box; }

.fxd #nav .active a h1 {
  color: #333;
  box-sizing: border-box;
  font-size: 16px; }

.fxd #nav .mainlevel {
  float: left;
  /*IE6 only*/
  position: relative; }

.fxd #nav .mainlevel a {
  text-decoration: none;
  line-height: 40px;
  display: block;
  padding: 0 25px;
  font-size: 14px;
  color: #333; }

.fxd #nav .mainlevel a h1 {
  font-size: 16px; }

.fxd #nav .mainlevel a:hover h1 {
  color: #333;
  transform: rotate(360deg);
  border-bottom: 2px solid #ED4040; }

.fxd #nav .mainlevel ul li a {
  width: 160px;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis; }

.fxd #nav .mainlevel ul li a:hover {
  display: block;
  text-decoration: none;
  color: #333; }

.fxd #nav .mainlevel ul {
  display: none;
  position: absolute;
  z-index: 2000;
  left: 25px;
  top: 42px; }

.fxd #nav .mainlevel li {
  display: block;
  text-align: left;
  line-height: 40px;
  height: 40px;
  width: 100%;
  z-index: 2000;
  /*IE6 only*/ }

/*huiyuanzhongxin*/
.bor {
  border-bottom: 2px solid #683a16;
  position: inherit; }

/*gotop*/
.izl-rmenu {
  position: fixed;
  right: 1%;
  margin-left: 616px;
  bottom: 10px;
  z-index: 999;
  width: 150px; }

.izl-rmenu .btn {
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: relative;
  border: 1px solid #b3916c;
  border-radius: 0;
  margin-bottom: 10px;
  box-sizing: border-box; }

.izl-rmenu .btn span {
  display: block;
  color: #fff;
  font-size: 16px;
  line-height: 48px; }

.izl-rmenu .btn-qq {
  background: url(../images/juanzeng.png) center 15px no-repeat;
  background: #C1DB5A; }

.izl-rmenu a.btn-qq, .izl-rmenu a.btn-qq:visited {
  background: url(../images/yh.png) center 15px no-repeat;
  background-color: #fff;
  text-decoration: none;
  display: block; }

.izl-rmenu .btn-wx {
  background: url(../images/wx.png) center 15px no-repeat;
  background-color: #fff; }

.izl-rmenu .btn-wx .pic {
  position: absolute;
  left: -191px;
  bottom: -2px;
  display: none;
  width: 190px;
  border: 1px solid #e5e5e5;
  background: #fff; }

.izl-rmenu .btn-wx .picImg {
  max-width: 100%;
  vertical-align: middle; }

.izl-rmenu .btn-wx .pic p {
  line-height: 24px;
  color: #666;
  text-align: center; }

.izl-rmenu .btn-wb {
  display: block;
  background: url(../images/QQ.png) center 15px no-repeat;
  background-color: #fff; }

.izl-rmenu .btn-wb .jzfs_list {
  position: absolute;
  left: -181px;
  bottom: -2px;
  display: none;
  width: 160px;
  height: 190px;
  border: 1px solid #e5e5e5;
  background: #fff; }

.izl-rmenu .btn-wb .picImg {
  max-width: 100%;
  vertical-align: middle; }

.izl-rmenu .btn-wb .jzfs_list p {
  line-height: 24px;
  color: #666;
  text-align: center; }

.izl-rmenu .btn-phone {
  padding-bottom: 20px; }

.izl-rmenu .btn-phone p {
  line-height: 22px;
  font-size: 12px;
  color: #C1DB5A;
  text-align: center; }

.izl-rmenu .btn-phone p .phone-icon {
  font-weight: normal;
  background: url(../images/phone-icon.png) left center no-repeat;
  padding-left: 18px; }

.izl-rmenu .btn-phone .phone {
  background-color: #ff811b;
  position: absolute;
  width: 160px;
  right: -160px;
  top: -1px;
  line-height: 73px;
  color: #FFF;
  font-size: 18px;
  text-align: center;
  display: none; }

.izl-rmenu .btn-shang {
  background: url(../images/shop.png) center 15px no-repeat; }

.izl-rmenu .btn-top {
  background: url(../images/TOP.png) center 15px no-repeat;
  display: none;
  background-color: #fff; }

/*login*/
/*logoin*/
.loginWrap {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url(../images/loginBg.jpg) center center no-repeat; }

.loginWrap .loginBoxs {
  width: 1200px;
  margin: 0 auto; }

.loginWrap .loginBoxs .leftLogo {
  text-align: left;
  overflow: hidden; }

.loginWrap .loginBoxs .leftLogo .por {
  padding-top: 88%;
  text-align: center; }

.loginWrap .loginBoxs .leftLogo .por img {
  display: block;
  text-align: center;
  margin: 0 auto; }

.loginWrap .loginBoxs .leftLogo .por h4 {
  line-height: 30px;
  font-size: 16px;
  color: #683a16; }

.loginWrap .loginBoxs .rightContent {
  float: right;
  position: relative;
  width: 420px;
  margin-left: 50px;
  top: 20%;
  right: 0;
  transform: translateY(20%); }

.loginWrap .loginBoxs .rightContent .box {
  width: 100%;
  height: 569px;
  background-image: linear-gradient(-180deg, #FFFFFF 75%, rgba(255, 255, 255, 0) 94%);
  padding: 56px 40px 0px;
  box-sizing: border-box;
  /*zhuce*/
  /*登录*/ }

.loginWrap .loginBoxs .rightContent .box .selectBox h4 {
  font-size: 24px;
  color: #444; }

.loginWrap .loginBoxs .rightContent .box .selectBox .list li {
  margin-top: 30px;
  width: 100%;
  height: 83px;
  background: url(../images/loginTitBg.png) 0 center no-repeat; }

.loginWrap .loginBoxs .rightContent .box .selectBox .list li a {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 12px 36px 0 36px; }

.loginWrap .loginBoxs .rightContent .box .selectBox .list li a .imgleft {
  float: left;
  position: relative;
  margin-right: 10px; }

.loginWrap .loginBoxs .rightContent .box .selectBox .list li a .imgleft img {
  width: 60px;
  height: 60px;
  vertical-align: middle; }

.loginWrap .loginBoxs .rightContent .box .selectBox .list li a .info h4 {
  font-size: 18px;
  color: #683a16;
  text-align: right; }

.loginWrap .loginBoxs .rightContent .box .selectBox .list li a .info p {
  font-size: 14px;
  color: #683a16;
  text-align: right;
  padding-top: 10px; }

.loginWrap .loginBoxs .rightContent .box .loginInp {
  padding-top: 30px; }

.loginWrap .loginBoxs .rightContent .box .loginInp .inpBox {
  position: relative;
  margin-top: 20px; }

.loginWrap .loginBoxs .rightContent .box .loginInp .inpBox input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #b3b3b3;
  background: none;
  line-height: 50px;
  font-size: 16px; }

.loginWrap .loginBoxs .rightContent .box .loginInp .inpBox .input_inner {
  padding-right: 110px; }

.loginWrap .loginBoxs .rightContent .box .loginInp .inpBox .input_yzm {
  position: absolute;
  right: 0;
  bottom: 12px;
  height: 30px;
  border: none;
  background: #683a16;
  width: 108px;
  border-radius: 15px;
  text-align: center;
  font-size: 14px;
  color: #fff; }

.loginWrap .loginBoxs .rightContent .box .donprotocol-cell {
  margin-top: 20px;
  font-size: 14px;
  color: #444;
  position: relative;
  vertical-align: middle; }

.loginWrap .loginBoxs .rightContent .box .donprotocol-cell label {
  position: relative;
  cursor: pointer; }

.loginWrap .loginBoxs .rightContent .box .donprotocol-cell label input {
  cursor: pointer; }

.loginWrap .loginBoxs .rightContent .box .donprotocol-cell label input:checked + .show-box {
  background: #683a16; }

.loginWrap .loginBoxs .rightContent .box .donprotocol-cell label .show-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: 1px solid #d8d8d8;
  background: white; }

.loginWrap .loginBoxs .rightContent .box .donprotocol-cell label .show-box:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 6px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg); }

.loginWrap .loginBoxs .rightContent .box .donprotocol-cell span {
  color: #683a16;
  font-size: 14px; }

.loginWrap .loginBoxs .rightContent .box .donprotocol-cell .forgetLink {
  position: absolute;
  right: 0;
  top: 0;
  color: #683a16;
  font-size: 14px; }

.loginWrap .loginBoxs .rightContent .box .LoginBtn {
  margin-top: 70px; }

.loginWrap .loginBoxs .rightContent .box .LoginBtn button {
  display: block;
  background: #683a16;
  color: #fff;
  font-size: 18px;
  text-align: center;
  border-radius: 22px;
  height: 44px;
  border: none;
  line-height: 44px;
  width: 100%; }

.loginWrap .loginBoxs .rightContent .box .go_zc {
  text-align: right;
  font-size: 14px;
  color: #999;
  padding-top: 14px; }

.loginWrap .loginBoxs .rightContent .box .go_zc a {
  color: #683a16; }

/*logion*/
.loginWraps {
  width: 100%;
  height: 30px;
  background: #f5f2f1; }
  .loginWraps .LBox {
    width: 1200px;
    margin: 0 auto; }
  .loginWraps .loginBox {
    float: right;
    display: inline-block;
    color: #999;
    font-size: 14px;
    line-height: 30px; }
    .loginWraps .loginBox a {
      display: inline-block;
      font-size: 14px;
      padding: 0 10px;
      color: #999;
      line-height: 30px; }
  .loginWraps .wxBox {
    float: right;
    display: inline-block;
    color: #999;
    font-size: 14px;
    line-height: 30px;
    position: relative; }
    .loginWraps .wxBox a {
      display: inline-block;
      padding: 0 10px;
      font-size: 14px;
      color: #999;
      line-height: 30px; }
    .loginWraps .wxBox .ImgBox {
      position: absolute;
      top: 30px;
      background: #fff;
      border: 1px solid #eee;
      padding: 15px;
      box-sizing: border-box;
      left: 0;
      z-index: 9999;
      display: none;
      text-align: center; }
      .loginWraps .wxBox .ImgBox img {
        display: block;
        max-width: 100%; }
  .loginWraps .tel {
    float: right;
    display: inline-block;
    color: #999;
    font-size: 14px;
    line-height: 30px; }
    .loginWraps .tel p {
      font-size: 14px;
      line-height: 30px;
      display: inline-block;
      padding: 0 10px; }

/*# sourceMappingURL=base.css.map */
